<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>Header</h1>
    </header>

    <aside>
        <h2>Aside bar</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quasi libero similique earum mollitia
            pariatur repellendus, reiciendis soluta debitis modi cupiditate provident fuga quam ipsum aliquam. Omnis
            inventore eveniet quod.</p>
    </aside>

    <main>
        <h2>main content</h2>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel enim odio culpa fugiat earum repudiandae
            reiciendis dicta delectus provident sunt! Ut odio ipsam, autem fugiat at asperiores illum debitis quidem.
        </p>
        
        
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel enim odio culpa fugiat earum repudiandae
            reiciendis dicta delectus provident sunt! Ut odio ipsam, autem fugiat at asperiores illum debitis quidem.
        </p>

    </main>

    <footer>
        <h3>Footer</h3>
    </footer>
</body>

</html>