.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 32px 0px;
}

section .left,
section .right {
    display: inline-block;
    width: 43%;
    vertical-align: top;
    padding: 3%;
}

section h1 {
    font-size: 50px;
    margin: 0px;
    margin-bottom: 20px;
}

section p {
    font-size: 19px;
}

section a {
    width: 200px;
    border-radius: 25px;
    padding: 8px 16px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
    color: #000;
    font-weight: 700;
    font-family: sans-serif;
}
section a:hover
{
    color: white;
    text-decoration: underline;
}

section .code-editor {
    padding: 16px;
    border-radius: 5px;
}

section .editor {
    height: 241px;
    background-color: #fff;
    border-left: 4px solid #04aa6d;
    margin-bottom: 16px;
    overflow: auto;

   
    background-image: url("./image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   /* background-attachment: fixed;*/
}

.bg-darkblue {
    background-color: #282a35;
}

.text-white {
    color: #fff;
}

.bg-green {
    background-color: #04aa6d;
}

.bg-yellow {
    background-color: #fff4a3;
}

.bg-white {
    background-color: #fff;
}

.bg-grey {
    background-color: #e7e9eb;
}