header {
    background-color: #ccc;
    padding: 20px;

}
header h2 {
    margin: 0px;
}

section {
    background-color: burlywood;
    padding: 15px;
    margin: 10px;
    float: left;
}

.section-1 {
    width: 25%;
}

.section-2 {
    width: 45%;
}

.section-3 {
    width: 20%;
}

.main-section {
    clear: both;
}